/* /src/components/itinerary/utilities/ConfirmationModal.css */
.modal-overlay-editItinerary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-editItinerary {
background: #fefefe;
padding: 20px;
border-radius: 4px;
max-width: 500px;
width: 100%;
z-index: 1001;
}

.editItinerary-info {
display: flex;
align-items: center;
padding: 5px;
border: 1px solid #eee;
margin-bottom: 10px;
border-radius: 4px;
position:relative;
}

.error-messages {
  min-height: 30px;
  color: red;
  margin-bottom: 10px;
}

.error-text {
  margin: 0;
  padding: 0;
}

.button {
padding: 10px 20px;
background-color: #3498db;
color: #fff;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
font-family: 'Ubuntu', sans-serif;
margin: 30px 10px 0px 10px;
}

.button:hover {
background-color: #2671a3;
}