.activity-item {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itinerary-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
}

/*
.icon-container {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.itinerary-info {
    flex-grow: 1;
}

label {
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.delete-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
