
.trip-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trip-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px 5% 10px 5%;
    padding: 10px;
    cursor: pointer;
    transition: border 0.1s ease-in-out;
    transition: margin 0.3s ease-in-out;
  }
  
  .trip-box:hover {
    border: 2px dashed #92d1fa;
    margin: 10px 4% 1px 4%;
    box-shadow: 2px 2px 18px #4485b0;
  }
  
  .trip-header {
    font-size: 18px;
    font-weight: bold;
  }
  
  .trip-box img {
    max-width: 100px; 
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .trip-details {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .trip-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  /* Style for the create trip button */
  .create-trip-button {
    margin: 2%;
    padding: 8px 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .create-trip-button:hover {
    background-color: #2660a3;
  }
  
  .trip-buttons button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .trip-buttons button:hover {
    background-color: #2671a3;
  }
  
  .trip-buttons-1,
  .trip-buttons-2,
  .trip-buttons-3 {
    margin-right: 20px;
  }
  
  .text-style {
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
  }
  
  .date {
    font-family: 'Montserrat', sans-serif;
    color: #7c7a7a;
  }
  

