.item-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between form elements */
    box-shadow: 0px 2px rgb(172, 172, 172);
    margin: 30px 30px 0px 10px;
    padding: 10px;
    max-width: 100%;
    float:right;
  }
  
  .field-container {
    margin-bottom: 10px;
  }
  
  .field-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .field-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  
  .delete-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
  }
  
  label {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(83, 83, 83);
  }
  